body {
  font-family: 'Roboto Mono', monospace;
  background-color: whitesmoke;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-bottom: 10px solid black;
}

#currentDay {
  color: #f48ed7;
  font-size: 35px;
}

.form-control {
  background: transparent;
  border: 0;
}

.row {
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
}

.time {
  background-color: rgba(244, 218, 234, 0.612);
  color: #000000;
  font-size: 30px;
  border-radius: 30px;
  border: 1px solid whitesmoke;
} 

.past {
  background-color: #b4b3b3;
  color: black;
}

.present {
  background-color: #eae079;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.save {
  background-color: #f48ed7;
  border: 1px solid #542145cf;
}

.save:hover {
  transition: all 0.3s ease-in-out;
  background-color: #542145cf;
}


